@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/css/detailorder.css">
    <link rel="stylesheet" href="~/css/navbar.css">
    <title>กิ๋นตวย | Detail Order</title>
</head>

<body>
    <!--Navbar-->
    <nav>
        <ul>
            <li>
                <img src="~/images/logo.png" alt="logo" id="logo" onclick="location.href='https://localhost:7110/home/service'">
            </li>
            <li>
                <img src="~/images/notification.png" class="notification" onclick="show1('menu1')" style="display: none;">
                <ul id="menu1">
                </ul>
                <img src="~/images/profile.png" class="profile" onclick="show('menu')">
                <ul id="menu">
                    <li class="sub-item">
                        <span class="material-icons-outlined"> grid_view </span>
                        <p onclick="location.href='https://localhost:7110/home/queuebuyorder/'">My Orders[ซื้อ]</p>
                    </li>
                    <li class="sub-item">
                        <span class="material-icons-outlined">
                            format_list_bulleted
                        </span>
                        <p onclick="location.href='https://localhost:7110/home/queueorder/'">My Orders[รับหิ้ว]</p>
                    </li>
                    <li class="sub-item">
                        <span class="material-icons-outlined"> manage_accounts </span>
                        <p onclick="location.href='https://localhost:7110/home/editprofile/'">Update Profile</p>
                    </li>
                    <li class="sub-item">
                        <span class="material-icons-outlined"> logout </span>
                        <p onclick="logout()">Logout</p>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--End-Navbar-->
    <script>
        function logout() {
            sessionStorage.removeItem("Ssid");
            location.href = 'https://localhost:7110/home/login'
        }
    </script>
    <div class="bottom" onclick="showoff(['menu','menu1'])">
        <div class="left">
            <div class="box">
                <img src="https://i.pinimg.com/564x/bf/8f/7c/bf8f7c5460e75014424781ac53862167.jpg" alt="avatar">
            </div>
            <div class="username">มาร์คส่งอาหาร</div>
        </div>
        <div class="right">
            <div class="flex-container">
                <div class="right-top">
                    <h1>ออเดอร์ของ : Wanburhan</h1>
                </div>
                <div class="right-middle">
                    <div class="left-in-right">
                        <div class="head-order">รายหารอาหาร</div>
                        <div class="deatail-menu">
                            <div class="menu">ข้าวผัด</div>
                            <div class="add-on">ไข่ดาว</div>
                            <div class="tip">ค่าหิ้ว</div>
                            <div class="sum">รวม</div>
                            
                        </div>
                    </div>
                    <div class="right-in-right">
                        <div class="head-order">ราคา</div>
                        <div class="menu-price">35</div>
                        <div class="add-on-price">5</div>
                        <div class="tip-price">10</div>
                        <div class="sum-price">50</div>
                    </div>
                </div>
                <div class="right-bottom">
                    <div class="note">หมายเหตุ
                        <div class="box">
                            <div class="text">เอามะนาวช้อนและพริกน้ำปลาด้วย</div>
                        </div>
                    </div>
                    <div class="note">ที่อยู่
                        <div class="box">
                            <div class="text">ตึกecc ห้อง 802</div>
                        </div>
                    </div>
                    <!-- <div class="bottom-button">
                        <button class="back-button">Back</button>
                    </div> -->
                </div>

                </div>
                <div class="bottom-button">
                    <button class="back-button">Back</button>
            </div>
        </div>
        <script src="~/js/effect.js"></script>
</body>

</html>