@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
    <title>กิ๋นตวย | Login</title>
</head>

<body>
    <div class="flex-container">
        <div class="flex-item-left">
            <img src="~/images/logo.png" alt="logo" id="login-logo">
        </div>
        <div class="flex-item-right">
            <section id="welcome">Welcome</section>
                <input type="text" name="username" id="username" placeholder="username" required>
                <br><input type="password" name="password" id="password" placeholder="Password" required>
                <br><input type="submit" value="Login" id="login" onclick="btnClick()">
                <button onclick="location.href='https://localhost:7110/home/Register'" type="button" id="register">
                    Register</button>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>

        function btnClick(){
            var Username = $("#username").val();
            var Password = $("#password").val();

            var obj = {
                Username: Username,
                Password: Password       
            }
            SubmitForm(obj,Username,Password);
        }

        function SubmitForm(obj,Username,Password) {
                $.ajax({
                    url: "/User/GetAll",
                    method: "GET",
                    success: function (data){
                    //console.log(data);
                    for (let i in data.value){

                        console.log(data.value[i]['username'])
                        console.log(data.value[i]['password'])
                        if (Username == data.value[i]['username'] && Password == data.value[i]['password']){
                        console.log("Success")
                        var Ssid = data.value[i];
                        sessionStorage.setItem("Ssid", Ssid.id);
                        //console.log(Session)
                        break;

                        } 
                        
                    } 
                    location.href = 'https://localhost:7110/home/service'
                },
                error: function (err) {
                    console.error(err);
                }

            })
            
        }


    </script>


</body>

</html>