@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/postmenu.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <title>Post Menu</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li>
                <img src="~/images/logo.png" alt="logo" id="logo" />
            </li>
            <li>
                <img src="~/images/notification.png" class="notification" onclick="show1('menu1')">
                <ul id="menu1">
                </ul>
                <img src="~/images/profile.png" class="profile" onclick="show('menu')" />
                <ul id="menu">
                    <li class="sub-item">
                        <span class="material-icons-outlined"> grid_view </span>
                        <p>Dashboard</p>
                    </li>
                    <li class="sub-item">
                        <span class="material-icons-outlined">
                            format_list_bulleted
                        </span>
                        <p>My Orders</p>
                    </li>
                    <li class="sub-item">
                        <span class="material-icons-outlined"> manage_accounts </span>
                        <p>Update Profile</p>
                    </li>
                    <li class="sub-item">
                        <span class="material-icons-outlined"> logout </span>
                        <p>Logout</p>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Navbar -->

    <div class="container-table" onclick="showoff(['menu','menu1'])">
        <div class="container-center">
            <div class="header">
                <h1>รายละเอียดเมนู</h1>
            </div>
            <div class="main">
                <div class="container">
                    <div class="top">
                        <div class="image-menu">
                            <img src="~/images/logo.png" alt="menu" />
                        </div>
                        <div class="details">
                            <div class="name-menu">
                                <div class="item1">
                                    <label for="">ชื่อเมนู</label>
                                </div>
                                <div class="item2">
                                    <input type="text" name="" id="Menu_name" />
                                </div>
                            </div>
                            <div class="shop">
                                <div class="item1">
                                    <label for="">ร้าน</label>
                                </div>
                                <div class="item2">
                                    <input type="text" name="" id="Shop_name" />
                                </div>
                            </div>
                            <div class="price">
                                <div class="item1">
                                    <label for="">ราคา</label>
                                </div>
                                <div class="item2">
                                    <input type="text" name="" id="Price" />
                                </div>
                            </div>
                            <div class="other">
                                <div class="item3">
                                    <label for="">หมายเหตุ</label>
                                </div>
                                <div class="item4">
                                    <input type="text" name="" id="Other" />
                                </div>
                            </div>
                            <div class="time">
                                <label for="">กำหนดเวลา</label>
                                <br>
                                <input type="text" name="" id="Time" />
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <div class="post">
                            <input type="button" value="Post" onclick="GetID()" />
                        </div>
                        <div class="cancel">
                            <input type="button" value="Cancel" onclick="location.href='https://localhost:7110/home/service'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/effect.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function GetID() {
            $.ajax({
                url: "/User/GetAll",
                method: "GET",
                success: function (data) {
                    console.log(data.value[0])
                    var l = data.value[0];
                    var qrcode = l['qrcode'];
                    var username = l['username'];
                    console.log(qrcode)
                    btnClick(qrcode,username)

                }
                ,
                error: function (err) {
                    console.error(err);
                }

            })
        }
        function btnClick(qrcode,username) {


            var Name = $("#Menu_name").val();
            var ShopName = $("#Shop_name").val();
            var Price = $("#Price").val();
            var Other = $("#Other").val();
            var EndTime = $("#Time").val();
            var Ssid = sessionStorage.getItem("Ssid", Ssid);
            var Qrcode = qrcode
            var UsernamePick = username

            var obj = {
                PickupOrderId: 0,
                Name: Name,
                ShopName: ShopName,
                Price: Price,
                Other: Other,
                EndTime: EndTime,
                User_UserId: Ssid,
                Image_ImageID: "",
                Qrcode: Qrcode,
                UsernamePick: UsernamePick,

            }
            PostOrder(obj);
        }

        function PostOrder(obj) {
            $.ajax({
                url: "/PickupOrder/Post",
                method: "POST",
                data: obj,
                success: function (data) {
                    console.log(data);
                    location.href = 'https://localhost:7110/home/service'
                },
                error: function (err) {
                    console.error(err);
                }

            })
        }
    </script>
</body>

</html>