@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/css/queueorder.css">
    <link rel="stylesheet" href="~/css/navbar.css">
    <title>กิ๋นตวย | Check Order</title>
</head>

<body onload="Start()">
    <!--Navbar-->
    <nav>
        <ul>
            <li>
                <img src="~/images/logo.png" alt="logo" id="logo">
            </li>
            <li>
                <img src="~/images/notification.png" class="notification" onclick="show1('menu1')">
                <ul id="menu1">

                </ul>
                <img src="~/images/profile.png" class="profile" onclick="show('menu')">
                <ul id="menu">
                    <li class="sub-item">
                        <span class="material-icons-outlined"> grid_view </span>
                        <p>Dashboard</p>
                    </li>
                    <li class="sub-item">
                        <span class="material-icons-outlined">
                            format_list_bulleted
                        </span>
                        <p>My Orders</p>
                    </li>
                    <li class="sub-item">
                        <span class="material-icons-outlined"> manage_accounts </span>
                        <p>Update Profile</p>
                    </li>
                    <li class="sub-item">
                        <span class="material-icons-outlined"> logout </span>
                        <p>Logout</p>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--End-Navbar-->
    <div class="bottom" onclick="showoff(['menu','menu1'])">
        <div class="left">
            <div class="box">
                <img src="https://i.pinimg.com/564x/bf/8f/7c/bf8f7c5460e75014424781ac53862167.jpg" alt="avatar">
            </div>
            <div class="username"id="username">มาร์คส่งอาหาร</div>
        </div>
        <div class="right">
            <div class="flex-container">
                <div class="detail">
                    <img class="order" src="~/images/Kraprao.jpg">
                    <div class="box">
                        <div class="ordername" id="username1">ชื่อ.........</div>
                        <div class="address" id="address1">ที่อยู่........</div>
                    </div>
                    <div class="status" id="price1">จ่ายเงินแล้ว 50฿</div>
                </div>
                <div class="detail">
                    <img class="order" src="~/images/Kraprao.jpg">
                    <div class="box">
                        <div class="ordername" id="username2">ชื่อ.........</div>
                        <div class="address" id="address2">ที่อยู่........</div>
                    </div>
                    <div class="status" id="price2">จ่ายเงินแล้ว 50฿</div>
                </div>
                <div class="detail">
                    <img class="order" src="~/images/Kraprao.jpg">
                    <div class="box">
                        <div class="ordername" id="username3">ชื่อ.........</div>
                        <div class="address" id="address3">ที่อยู่........</div>
                    </div>
                    <div class="status" id="price3">จ่ายเงินแล้ว 50฿</div>
                </div>


            </div>
            <div class="sum" id="sum">รวมยอด 150฿</div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/effect.js"></script>
    <script>
        function Start() {
            var Ssid = sessionStorage.getItem("Ssid")
            //console.log(Ssid)
            $.ajax({
                url: "/User/GetAll",
                method: "GET",
                success: function (data) {
                    console.log(data.value)
                    console.log(data.value[Ssid-1])
                    var user = data.value[Ssid-1]
                    var username = user['username'];
                    $("#username").text(username);
                    GetCustomer(username)


                },
                error: function (err) {
                    console.error(err);
                }

            })
        }



        function GetCustomer(username) {
            var Ssid = sessionStorage.getItem("Ssid")
            //console.log(Ssid)
            $.ajax({
                url: "/BuyOrder/GetAll",
                method: "GET",
                success: function (data) {
                    console.log(data.value)
                    var o = 1
                    var alsun = 0
                    for (i in data.value) {
                        console.log(data.value[i])
                        var gett = data.value[i]

                        if (gett['name_pick'] == username) {
                            console.log(gett)
                            $(`#username${o}`).text(gett['username_BuyOrder']);
                            $(`#address${o}`).text(gett['location']);
                            $(`#price${o}`).text(gett['bill']);
                            o++
                            alsun += parseInt(gett['bill'])
                            console.log(alsun)
                            $("#sum").text(alsun);

                        }
                    }
                    


                },
                error: function (err) {
                    console.error(err);
                }

            })
        }


                




    </script>
</body>

</html>