@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/register.css">
    <title>กิ๋นตวย | Register</title>
</head>

<body>
    <div class="flex-container">
        <div class="flex-item-left">
            <img src="~/images/logo.png" alt="logo" id="register-logo">
        </div>
        <div class="flex-item-right">
            <section id="head_register">Register</section>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <br><input type="email" name="email" id="email" placeholder="E-mail" required>
            <br><input type="password" name="password" id="password" placeholder="Password" required>
            <br><input type="tel" name="tel" id="tel" placeholder="Phone Number" required>
            <!--<br><input type="text" name="bank" class="tel" id="bank" placeholder="Bank No." required>-->
            <br><span style="display: none;"> qrcode: </span><input type=" file" name="file" id="bank" value="none" style="display: none;" />
            <br><input type="submit" value="Register" id="register" onclick="btnClick()">
            <button onclick="location.href='https://localhost:7110/home/login'" type="button" id="back">
                Back
            </button>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function btnClick() {
            var path = $("#bank").val();;
            var filename = path.replace(/^.*\\/, "");
            var full = "/images/" + filename
            console.log(full);

            var Username = $("#username").val();
            var Password = $("#password").val();
            var Email = $("#email").val();
            var Phone = $("#tel").val();
            var Qrcode = full;

            var obj = {
                Id: 0,
                Username: Username,
                Password: Password,
                Email: Email,
                Phone: Phone,
                Qrcode: Qrcode,
                Profile_pic: "0",
            }
            SubmitForm(obj);



        }

        function SubmitForm(obj) {
            $.ajax({
                url: "/User/Post",
                method: "POST",
                data: obj,
                success: function (data) {
                    console.log(data);
                    //data = JSON.stringify(data);
                    location.href = 'https://localhost:7110/home/login'
                },
                error: function (err) {
                    console.error(err);
                }

            })
        }
    </script>

</body>

</html>