.bottom {
    display: flex;

}

.flex-container {
    height: 88%;
    margin-right: 3%;
    overflow: auto;
    
}

.left {
    margin-top: 3%;
    width: 35%;
    height: 100%;
    display: grid;
    justify-items: center;
    text-align: center;

}

.left .box {
    height: 100%;
    width: 40%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #7F664F;
    text-align: center;
}

h1 {
    font-size: 200%;
}

.box img {
    border-radius: 50%;
    width: 70%;

}

.left .username {
    font-weight: bold;
    margin-top: 2%;
    font-size: 150%;
}

.right {
    margin-top: 3%;
    width: 100vh;
    height: 80vh;
    background-color: white;
    border-radius: 15px;
    border: 8px solid #7F664F;
    text-align: center;
}



.right-middle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 150%;


}

.right-bottom {
    font-size: 150%;
    margin-right: 5%;
}

.left-in-right {
    width: 50%;
}

.deatail-menu {
    margin-left: 45%;
    text-align: left;
}

.right-in-right {
    width: 30%;
}

.note {
    text-align: left;
    color: black;
    font-weight: bold;

    margin-left: 28%;
    margin-top: 1%;
}

.note .box {
    margin-top: 1%;
    border: 2.5px solid #7F664F;
    border-radius: 9px;
    background: #f9f5eb;
    color: #FFBD59;
    height: 7vh;
    width: 80%;
    overflow: auto;
}

.note .box .text {
    color: black;
    margin-top: 2%;
    margin-left: 4%;
}

.bottom-button {

    display: flex;
    width: 100%;
    justify-content: center;



}

.back-button {
    font-size: 100%;
    font-weight: bold;
    color: aliceblue;
    background-color: rgb(112, 144, 255);
    padding: 1% 4%;
    border-radius: 8px;
    border: 3px solid #7F664F;
    cursor: pointer;


}
@media screen and (max-width: 1060px) {
    .bottom {
        display: grid;
        justify-content: center;

    }

    .left {

        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        text-align: center;

    }

    .left .box {
        height: 100%;
        width: 20%;
        background-color: white;
        border-radius: 15px;
        border: 2px solid #7F664F;
        text-align: center;
    }

    .right {
        margin-top: 3%;
        width: 85vw;
        height: 70vh;
        background-color: white;
        border-radius: 15px;
        border: 2px solid #7F664F;

    }

    .right-middle {
        font-weight: bold;
        display: flex;
        justify-content: space-between;

    }

    .note {
        text-align: left;
        color: black;
        font-weight: bold;
        margin-left: 15%;
        margin-top: 1%;
    }

    .note .box {
        margin-top: 1%;
        border: 2.5px solid #7F664F;
        border-radius: 9px;
        background: #f9f5eb;
        color: #FFBD59;
        height: 7vh;
        width: 85%;
        overflow: auto;
    }
}

@media screen and (max-width: 820px) {
    .bottom {
        display: grid;
        justify-content: center;

    }

    .left {

        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        text-align: center;

    }

    .left .box {
        height: 100%;
        width: 20%;
        background-color: white;
        border-radius: 15px;
        border: 2px solid #7F664F;
        text-align: center;
    }

    .right {
        margin-top: 3%;
        width: 100%;
        height: 70vh;
        background-color: white;
        border-radius: 15px;
        border: 2px solid #7F664F;

    }

    .right-middle {
        font-weight: bold;
        display: flex;
        justify-content: space-between;

    }

    .note {
        text-align: left;
        color: black;
        font-weight: bold;
        margin-left: 15%;
        margin-top: 1%;
    }

    .note .box {
        margin-top: 1%;
        border: 2.5px solid #7F664F;
        border-radius: 9px;
        background: #f9f5eb;
        color: #FFBD59;
        height: 7vh;
        width: 85%;
        overflow: auto;
    }
}

@media screen and (max-width: 420px) {
    .right {
        overflow: auto;
    }

    h1 {
        font-size: 140%;
    }

    .right-middle {
        font-size: 110%;
    }

    .right-bottom {
        font-size: 100%;
    }
}