@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
body {
    font-family: 'Kanit', sans-serif;
    background-color: #FFBD59;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    z-index:3;
}

li {
    list-style-type: none;
    position: relative;
    padding: 0.625rem 0 0.5rem;
}

li ul {
    flex-direction: column;
    position: fixed;
    background-color: white;
    width: 20rem;
    right: 5px;
    top: 6rem;
    border-radius: 0.325rem;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
    padding: 1rem 0rem;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.profile {
    top: auto;
    position: fixed;
    right: 5px;
    height: 4.5rem;
    width: auto;
    cursor: pointer;
}

.sub-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.725rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}

.sub-item:hover {
    background-color: rgba(232, 232, 232, 0.4);
}

.sub-item:hover .material-icons-outlined {
    color: #ff9800;
    transform: scale(1.08) translateY(-2px);
    cursor: pointer;
}

.sub-item:hover p {
    color: #000;
    cursor: pointer;
}

.sub-item p {
    font-size: 0.85rem;
    color: #888888;
    font-weight: 500;
    margin: 0.4rem 0;
    flex: 1;
}

#logo {
    width: 30%;
    margin-left: 1%;
}