.main{
    text-align: center;
    font-size: 500%;
    font-weight: bold;
    color: whitesmoke;
    margin-top: -5%;
}
.container{
    width: auto;
    height: 80vh;
    
}
.flex-container{
    padding: 2% 2%;
    font-size: 300%;
    color: #FFBD59;
    background-color: white;
    border-radius: 15px;
    border: 10px solid #7F664F;
    margin-left: 5%;
    margin-right: 5%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    gap: 5px;
    flex-wrap: wrap;
    
}
.item{
    flex: 1 0 21%;
    text-align: center;
    font-size: 50%;
    border-radius: 15px;
    border: 3px solid #7F664F;
}

@media screen and (max-width: 820px){
    .main{
        margin-top: -15%;
        margin-left: 2%
    }
    .item{
        flex: 1 0 21%;
        text-align: center;
        font-size: 40%;
        margin-top: 5%;
        
    }
    .flex-container{
        padding: 5px;
    }

}

@media screen and (max-width: 450px){
    .main{
        margin-top: -15%;
        font-size: 180%;
        margin-left: 7%
        
    }
    .item{
        flex: 1 0 100%;
        text-align: left;
        font-size: 40%;
        margin-top: 5%;
        height: 16%;
        
    }
    .flex-container{
        margin-top: 5%;
        padding: 2% 2%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5px;
        flex-wrap: wrap;
        height: 90%;
        overflow: auto;
    }
    .name{
        margin-left: 50%;
        margin-top: -30%;
    }
    .time{
        margin-left: 50%;
    }
    .item img {
        width: auto;
        margin-left: 2%;
        border-radius: 15px;

    }
}
@media screen and (max-width: 390px){
    .item{
        height: 20%;
        
    }
}
@media screen and (max-width: 380px){
    .item{
        height: 24%;
        
    }
}


