.main {
    text-align: center;
    margin-top: -6%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 5vw;
    color: white;
}

.bottom {
    left: 6%;
    position: relative;
    border: 8px solid #7F664F;
    border-radius: 9px;
    background: #f9f5eb;
    color: #000000;
    height: 80.7vh;
    width: 86.1vw;
    font-size: 30px;
    overflow: auto;
    font-weight: bold;
}

.flex-container {
    height: 85%;
    width: 90%;
    margin-left: 5%;
}

.left {
    margin-top: 3%;
    width: 45%;
    height: 100%;
    display: grid;
    justify-items: center;
    text-align: center;
}

.left .box {
    height: 100%;
    width: 40%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #7F664F;
    text-align: center;
}

.box img {
    border-radius: 50%;
    width: 70%;
}

.top-in-bottom {
    display: flex;
}

.right {
    display: flex;
    margin-top: 3%;
}

.left-right {
    margin-right: 10%;
    margin-top: 2.5%;

}
.qr {
    display: flex;
    justify-content: center;
}

.save-cancel {
    text-align: center;
}

.Save {
    color: wheat;
    background-color: #7ED957;
    padding: 0.75% 3%;
    border: 5px solid #7F664F;
    border-radius: 10px;
    cursor: pointer;
    font-size: 70%;
    font-weight: bold;
}

.Cancel {
    color: wheat;
    background-color: #C51F1B;
    padding: 0.75% 3%;
    border: 5px solid #7F664F;
    border-radius: 10px;
    cursor: pointer;
    font-size: 70%;
    font-weight: bold;
}

input[type="text"],input[type="password"]{

    width: 150%;
    height: 13%;
    border: 5px solid #7F664F;
    border-radius: 6px;
    margin-left: 5%;
    font-weight: bold;
    font-size: 20px
}


.right-right {
    width: 100%;
    margin-top: 2%;
}

@media screen and (max-width: 1060px) {
    .left {
        width: 100%;
    }

    .left .box {
        width: 20%;
    }

    .top-in-bottom {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    input[type="text"],input[type="password"] {
        width: 140%;
        font-size: 18px
    }

    .right-right {
        width: 100%;
    }
}
@media screen and (max-width: 820px) {
    .left {
        width: 100%;
    }

    .left .box {
        width: 20%;
    }

    .top-in-bottom {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    input[type="text"],input[type="password"] {
        width: 110%;
        font-size: 18px
    }

    .right-right {
        width: 100%;
    }
}
@media screen and (max-width: 623px) {
    .flex-container{
        font-size: 70%;
    }

    .left {
        width: 100%;
    }

    .left .box {
        width: 30%;
    }

    .top-in-bottom {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    input[type="text"] {
        width: 100%;
    }

    .right-right {
        width: 100%;
    }
    .right{
        margin-top: 10%;
    }
}
@media screen and (max-width: 440px) {

    .left {
        width: 100%;
    }


    .top-in-bottom {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    input[type="text"],input[type="password"] {
        width: 80%;
    }

    .right-right {
        width: 100%;
    }
    .left-right {

        margin-right: 0%;
    }
    .bottom{
        margin-left: -3%;
    }
}
