.main {
    text-align: center;
    margin-top: -5%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 5vw;
    color: white;
}

.bottomcontainer {
    left: 6%;
    position: relative;
    border: 8px solid #7F664F;
    border-radius: 9px;
    background: #f9f5eb;
    color: #FFBD59;
    height: 80.7vh;
    width: 86.1vw;
    font-size: 30px;
    overflow: auto;

}

.item {
    text-align: center;
    margin-top: 2%;
}

.item-img {
    text-align: center;
    width: 131px;
    height: 100px;
    position: relative;
    border: 0.274300071787509vw solid #7F664F;
    border-radius: 9px;
}

.name-item {
    margin-top: 1.5%;
    color: black;
    font-weight: bold;
    font-size: 70%;
}

.shop-name {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 70%;
    margin-left: 28%;
    margin-top: 2.5%;
}

.more-detail {

    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 70%;
    margin-left: 28%;
    margin-top: 1%;
}

.more-detail .box {
    border: 2.5px solid #7F664F;
    border-radius: 9px;
    background: #f9f5eb;
    color: #FFBD59;
    height: 10vh;
    width: 40vw;
    overflow: auto;
}

.more-detail .box .text {
    color: black;
    margin-top: 2%;
    margin-left: 4%;
}

.check-box {
    color: black;
    font-size: 70%;
    font-weight: bold;
    text-align: left;
    margin-left: 28%;
    margin-top: 1.5%;
}


.note {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 70%;
    margin-left: 28%;
    margin-top: 1%;
}

.note .box {
    margin-top: 1%;
    border: 2.5px solid #7F664F;
    border-radius: 9px;
    background: #f9f5eb;
    color: #FFBD59;
    height: 7vh;
    width: 40vw;
    overflow: auto;
}

.note .box .text {
    color: black;
    margin-top: 2%;
    margin-left: 4%;
}

.pay-cancel{
    margin-top: 2%;
    margin-left: 35%;
    text-align: left;
    
}
.pay-button {
    background-color: #4dfe53;
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 5px solid #7F664F;
    border-radius: 9px;
    font-size: 80%;
    font-weight: bold;
    margin-right: 10%;
}
.cancel-button {
    background-color: #ff0019;
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 5px solid #7F664F;
    border-radius: 9px;
    font-size: 80%;
    font-weight: bold;
}

@media screen and (max-width: 585px) {
    .bottomcontainer {
        left: 3%;
        position: relative;
        border: 8px solid #7F664F;
        border-radius: 9px;
        background: #f9f5eb;
        color: #FFBD59;
        height: 80.7vh;
        width: 86.1vw;
        font-size: 30px;
        overflow: auto;
    
    }
    
    .item {
        text-align: center;
        margin-top: 5%
    }
    
    .item-img {
        text-align: center;
        width: 131px;
        height: 100px;
        position: relative;
        border: 0.274300071787509vw solid #7F664F;
        border-radius: 9px;
    }
    
    .name-item {
        margin-top: 2%;
        color: black;
        font-weight: bold;
        font-size: 70%;
    }
    
    .shop-name {
        text-align: left;
        color: black;
        font-weight: bold;
        font-size: 70%;
        margin-left: 10%;
        margin-top: 2.5%;
    }
    
    .more-detail {
    
        text-align: left;
        color: black;
        font-weight: bold;
        font-size: 70%;
        margin-left: 10%;
        margin-top: 1%;
    }
    
    .more-detail .box {
        border: 2.5px solid #7F664F;
        border-radius: 9px;
        background: #f9f5eb;
        color: #FFBD59;
        height: 10vh;
        width: 70vw;
        overflow: auto;
    }
    
    .more-detail .box .text {
        color: black;
        margin-top: 2%;
        margin-left: 4%;
    }
    
    .check-box {
        color: black;
        font-size: 70%;
        font-weight: bold;
        text-align: left;
        margin-left: 10%;
        margin-top: 1.5%;
    }
    
    
    .note {
        text-align: left;
        color: black;
        font-weight: bold;
        font-size: 70%;
        margin-left: 10%;
        margin-top: 1%;
    }
    
    .note .box {
        margin-top: 1%;
        border: 2.5px solid #7F664F;
        border-radius: 9px;
        background: #f9f5eb;
        color: #FFBD59;
        height: 10vh;
        width: 70vw;
        overflow: auto;
    }
    
    .note .box .text {
        color: black;
        margin-top: 2%;
        margin-left: 4%;
    }
    
    .pay-cancel{
        margin-top: 5%;
        margin-left: 15%;
        text-align: left;
        
    }
    .pay-button {
        background-color: #4dfe53;
        border: none;
        color: white;
        padding: 1% 5%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border: 5px solid #7F664F;
        border-radius: 9px;
        font-size: 80%;
        font-weight: bold;
        margin-right: 10%;
    }
    .cancel-button {
        background-color: #ff0019;
        border: none;
        color: white;
        padding: 1% 5%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border: 5px solid #7F664F;
        border-radius: 9px;
        font-size: 80%;
        font-weight: bold;
    }
}