/*Default*/

@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
html,
body {
    background: #FFBD59;
    font-family: 'Kanit', sans-serif;
}

* {
    box-sizing: border-box;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}

#register {
    background: #38B6FF;
}

#back {
    background: #dd2323;
}


/* 
  #Device = Desktops
  #Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .flex-container {
        margin-top: 4vh;
    }
    /**span {
        font-size: 16px;
    }**/
    #head_register {
        color: #FFFFFF;
        text-align: center;
        font-size: 56px;
        font-weight: bold;
        margin-top: -2vh;
    }
    #username,
    #email,
    #password,
    #tel,
    #register,
    #back {
        font-size: 28px;
        border: 5px solid #7F664F;
        border-radius: 9px;
        margin: 5px auto;
    }
    #username,
    #email,
    #password,
    #tel {
        width: 500px;
        padding: 20px 20px;
        display: inline-block;
        box-sizing: border-box;
    }
    #register,
    #back {
        width: 247px;
        height: 65px;
        color: #FFFFFF;
        font-weight: bold;
    }
    #register-logo {
        width: 500px;
    }
}


/* 
  #Device = Laptops, Desktops
  #Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .flex-container {
        margin-top: 1vh;
    }
    /**span {
        font-size: 16px;
    }**/
    #head_register {
        color: #FFFFFF;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        margin-top: -2vh;
    }
    #username,
    #email,
    #password,
    #tel,
    #register,
    #back {
        font-size: 22px;
        border: 5px solid #7F664F;
        border-radius: 9px;
        margin: 5px auto;
    }
    #username,
    #email,
    #password,
    #tel {
        width: 450px;
        padding: 15px 15px;
        display: inline-block;
        box-sizing: border-box;
    }
    #register,
    #back {
        width: 223px;
        height: 50px;
        color: #FFFFFF;
        font-weight: bold;
    }
    #register-logo {
        width: 450px;
    }
}


/* 
  #Device = Laptops, Desktops (older)
*/

@media (width: 1600px) {
    .flex-container {
        margin-top: 5vh;
    }
    /**span {
        font-size: 16px;
    }**/
    #head_register {
        color: #FFFFFF;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin-top: -3vh;
    }
    #username,
    #email,
    #password,
    #tel,
    #register,
    #back {
        font-size: 16px;
        border: 4px solid #7F664F;
        border-radius: 9px;
    }
    #username,
    #email,
    #password,
    #tel {
        width: 300px;
        padding: 10px 10px;
        display: inline-block;
        box-sizing: border-box;
    }
    #register,
    #back {
        width: 147px;
        height: 40px;
        color: #FFFFFF;
        font-weight: bold;
    }
    #register-logo {
        width: 300px;
    }
}

@media (width: 1366px) {
    .flex-container {
        margin-top: 5vh;
    }
    /**span {
        font-size: 16px;
    }**/
    #head_register {
        color: #FFFFFF;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin-top: -3vh;
    }
    #username,
    #email,
    #password,
    #tel,
    #register,
    #back {
        font-size: 16px;
        border: 4px solid #7F664F;
        border-radius: 9px;
    }
    #username,
    #email,
    #password,
    #tel {
        width: 300px;
        padding: 10px 10px;
        display: inline-block;
        box-sizing: border-box;
    }
    #register,
    #back {
        width: 147px;
        height: 40px;
        color: #FFFFFF;
        font-weight: bold;
    }
    #register-logo {
        width: 300px;
    }
}


/* 
  #Device = Tablets, Ipads (portrait)
  #Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .flex-container {
        margin-top: 10vh;
    }
    /**span {
        font-size: 16px;
    }**/
    #head_register {
        color: #FFFFFF;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        margin-top: -2vh;
    }
    #username,
    #email,
    #password,
    #tel,
    #register,
    #back {
        font-size: 22px;
        border: 5px solid #7F664F;
        border-radius: 9px;
        margin: 5px auto;
    }
    #username,
    #email,
    #password,
    #tel {
        width: 450px;
        padding: 15px 15px;
        display: inline-block;
        box-sizing: border-box;
    }
    #register,
    #back {
        width: 223px;
        height: 50px;
        color: #FFFFFF;
        font-weight: bold;
    }
    #register-logo {
        width: 450px;
    }
}


/* 
  #Device = Tablets, Ipads (landscape)
  #Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .flex-container {
        margin-top: 1vh;
    }
    /**span {
        font-size: 16px;
    }**/
    #head_register {
        color: #FFFFFF;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        margin-top: -2vh;
    }
    #username,
    #email,
    #password,
    #tel,
    #register,
    #back {
        font-size: 16px;
        border: 5px solid #7F664F;
        border-radius: 9px;
        margin: 5px auto;
    }
    #username,
    #email,
    #password,
    #tel {
        width: 450px;
        padding: 15px 15px;
        display: inline-block;
        box-sizing: border-box;
    }
    #register,
    #back {
        width: 223px;
        height: 50px;
        color: #FFFFFF;
        font-weight: bold;
    }
    #register-logo {
        width: 450px;
    }
}


/* 
  #Device = Low Resolution Tablets, Mobiles (Landscape)
  #Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .flex-container {
        margin-top: 12vh;
    }
    /**span {
        font-size: 16px;
    }**/
    #head_register {
        color: #FFFFFF;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin-top: -3vh;
    }
    #username,
    #email,
    #password,
    #tel,
    #register,
    #back {
        font-size: 16px;
        border: 4px solid #7F664F;
        border-radius: 9px;
    }
    #username,
    #email,
    #password,
    #tel {
        width: 300px;
        padding: 10px 10px;
        display: inline-block;
        box-sizing: border-box;
    }
    #register,
    #back {
        width: 147px;
        height: 40px;
        color: #FFFFFF;
        font-weight: bold;
    }
    #register-logo {
        width: 300px;
    }
}


/* 
  #Device = Most of the Smartphones Mobiles (Portrait)
  #Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .flex-container {
        margin-top: 25vh;
    }
    /**span {
        font-size: 16px;
    }**/
    #head_register {
        color: #FFFFFF;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-top: -3vh;
    }
    #username,
    #email,
    #password,
    #tel,
    #register,
    #back {
        font-size: 12px;
        border: 3px solid #7F664F;
        border-radius: 9px;
    }
    #username,
    #email,
    #password,
    #tel {
        width: 175px;
        padding: 8px 8px;
        display: inline-block;
        box-sizing: border-box;
    }
    #register,
    #back {
        width: 84px;
        height: 40px;
        color: #FFFFFF;
        font-weight: bold;
    }
    #register-logo {
        width: 175px;
    }
}